{% import 'macros.html' as macros with context %}
<head>
	<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='stylesheets/format.css') }}">
</head>
<body>
	<div id="header">
	</div>
	<div id="body">
		<div id="nonmenu">
			<div id="playerContainer">
				<video autoplay controls type="application/x-mpegURL" id="video" width="100%" height="100%"></video>
				<script>
					if (Hls.isSupported()) {
						var video = document.getElementById('video');
						var hls = new Hls();
						hls.attachMedia(video);
						hls.on(Hls.Events.MEDIA_ATTACHED, function () {
							hls.loadSource("{{ vid }}");
							hls.on(Hls.Events.MANIFEST_PARSED, function (event, data) {
								video.play();
							});
						});
					}
				</script>
			</div>
			<div id="recents">
				<a href="/refresh" style="font-size:20px;margin:5px">Refresh</a><br>
				<a href="/menu" style="font-size:20px;margin:5px">Menu</a>
			</div>
		</div>
		<div id="menu">
			{% for c in history[::-1] %}
				{{ macros.channel(c) }}
			{% endfor %}
		</div>
	</div>
</body>